{% extends 'base.html.twig' %}

{% block title %}Quack index{% endblock %}

{% block body %}

    <div class="container">
        <h1>Index</h1>

        <button type="button" class="btn btn-dark btn-lg">
            <a href="{{ path('quack_new') }}">Create new</a>
        </button>

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for quack in quacks %}
                <tr>
                    <td>{{ quack.id }}</td>
                    <td>{{ quack.content }}</td>
                    <td>{{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <div>
                            <button type="button" class="btn btn-outline-secondary">
                                <a href="{{ path('quack_show', {'id': quack.id}) }}">show</a>
                            </button>
                            {% if is_granted('ROLE_ADMIN') %}
                            <button type="button" class="btn btn-outline-secondary">
                                <a href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>
                            </button>
                            {{ include('quack/_delete_form.html.twig') }}
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
