{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <div class="container">
        {% if quack.photo != null %}
            <img src="/photos/{{ quack.photo }}" width="200" height="200">
        {% endif %}
        <h1 class="col-12">QUACK: {{ quack.content }} <br></h1>

        <p>From : {{ quack.auteur.duckname }},<br>
            Created_at: {{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</p>

        <div class="row">

            </div>

        {% if quack.children %}

            <h2>Comments</h2>

            {% for comment in quack.children %}
                <div class="card" style="width:auto;">
                    <div class="card-body">
                    {% if comment.auteur.photo %}
                        <img src="/photos/{{ comment.auteur.photo }}" class="card-img-top" style="width:5rem">
                    {% endif %}
                        from : {{ comment.auteur.duckname }} ,
                        on {{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}
                        <br><br>
                        {{ comment.content }}
                       </div>
                </div>
            {% endfor %}
            <div>
                <button type="button" class="btn btn-outline-secondary">
                    <a href="{{ path('quack_new_comment', {'parent': quack.id}) }}">Add comment</a>
                </button>
            </div>
        {% endif %}
        <button type="button" class="btn btn-outline-secondary">
            <a href="{{ path('quack_index') }}">back to list</a>
        </button>
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-outline-secondary">
                <a href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>
            </button>
            {{ include('quack/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
