{% extends 'base.html.twig' %}

{% block title %}Quack{% endblock %}

{% block body %}
    <div class="container">
        <h1>Quack</h1>
        {% if quack.photo != null %}
            <img src="/photos/{{ quack.photo }}" width="200" height="200">
        {% endif %}

        <table class="table">
            <div class="row">
                <h2 class="col-12">Content: {{ quack.content }} <br></h2>
                <p>From : {{ quack.auteur.duckname }},<br>
                    Created_at: {{ quack.createdAt ? quack.createdAt|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </table>
        {% if quack.children %}

            <h2>Comments</h2>

            {% for comment in quack.children %}
                <div class="card" style="width: 30rem;">
                    <img src="/photos/{{ comment.photo }}" class="card-img-top">
                    <div class="card-body">
                    {% if comment.auteur.photo %}
                        <img src="/photos/{{ comment.auteur.photo }}" class="card-img-top">
                    {% endif %}
                        {{ comment.content }}<br><br>
                        from : {{ comment.auteur.duckname }} ,
                        on {{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</div>
                </div>
            {% endfor %}
        {% endif %}
        <button type="button" class="btn btn-outline-secondary">
            <a href="{{ path('quack_index') }}">back to list</a>
        </button>
        {% if is_granted('ROLE_ADMIN') %}
            <button type="button" class="btn btn-outline-secondary">
                <a href="{{ path('quack_edit', {'id': quack.id}) }}">edit</a>
            </button>
            {{ include('quack/_delete_form.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
